* {
    transition: all 0.1s ease-in; 
    box-sizing: border-box;
}

html {
    height: 100%;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 24px;
    line-height: 50%;
    font-weight: 400;
    border: 25px solid #2B81AC;
    background-color: #3399CC;
    color: #F9F9F9;  
}

.header,
.footer {
    padding: 30px 0;
    color: #ffffff;
}

.weather .wi {
    vertical-align: middle;
}

h1 {
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 20px;
}

.temperature::after {
    content: "°C";
}

.cities {
    display: block;
    list-style: none;
    border: 3px solid;
    margin: 0;
    padding: 0;
    font-size: 0;
    background: #fff;
}

.cities li {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border: 3px solid;
    width: 25%;
    padding: 30px 10px;
}

.cities:hover > li {
    opacity: 0.4;
}

.cities li {
    opacity: 1;
}
.cities li:hover {
    opacity: 0.7;
}

.cities li:active {
    background: #ffffff;
}

.cities li:first-child {
    width: 50%;
}

.cities li:nth-child(9) {
    width: 50%;
}

.cities li:nth-child(11) {
    width: 100%;
}

.cities li .city-name {
    font-weight: normal;
    font-size: 20;
    margin: 0 0 15px 0;
}

.cities li .temperature,
.cities li .wi {
    display: inline-block;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.5);
}
.cities li .temperature {
    font-size: 24px;
}
.cities li .wi {
    font-size: 40px;
}

.cities li:nth-child(1) {
    background: #3399CC;
}
.cities li:nth-child(2) {
    background: #33CCCC;
}
.cities li:nth-child(3) {
    background: #996699;
}
.cities li:nth-child(4) {
    background: #C24747;
}
.cities li:nth-child(5) {
    background: #e2674a;
}
.cities li:nth-child(6) {
    background: #FFCC66;
}
.cities li:nth-child(7) {
    background: #99CC99;
}
.cities li:nth-child(8) {
    background: #669999;
}
.cities li:nth-child(9) {
    background: #CC6699;
}
.cities li:nth-child(10) {
    background: #339966;
}
.cities li:nth-child(11) {
    background: #666699;
}